{% extends "layout/basic.html" %}

{% block content %}
    <div>
        <h2>Объявления за {{ year.year}}</h2>
    </div>
    <div class="date">
        <p>Месяца:
            {% for d in date_list %}
                <span><a href="{% url 'by_month' year=d.year month=d.month %}">{{ d.month }}</a></span>
            {% endfor %}
        </p>
    </div>
    {% for bb in bbs %}
        <div>
            <h2><a href="{% url 'detail' pk=bb.pk %}">{{ bb.title_and_price }}</a></h2>
            <p>{{ bb.content }}</p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
            <p><a href="{% url 'update' pk=bb.pk %}">Изменить</a></p>
        </div>
    {% endfor %}
{% endblock %}