{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
    <title>{% block title %}🦄Главная{% endblock %} :: Доска объявлений</title>
</head>
<body>
    <header><h1>🐉Объявления🦄</h1></header>
    <nav>
        <a href="{% url 'index' %}">Главная</a>
        {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}}</a>
        {% endfor %}
        <a href="{% url 'add' %}">Добавить</a>
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>